*.dll filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
imageclassification/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd[[:space:]] filter=lfs diff=lfs merge=lfs -text
